@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Lato:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: #3498db;
  display: flex;
  color: white;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: stretch;
}

.site-name {
  color: white;
  text-decoration: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 2rem;
  padding: 4px;
}

.nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
}

.nav ul {
  list-style: none;
  padding: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.textbox {
  padding: 0 1 rem;
}

.page {
  margin: 50px;
  font-family: 'Lato', sans-serif;
}

.page h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.document-text {
  background-color: #ecf0f1;
  border: 2px transparent;
  border-radius: 10px;
  padding: 1em;
}

.translate-button {
  background: #3498db;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
  color: white;
  padding: 16px;
  border-radius: 14px;
}

.word-textarea {
  font-size: 1rem;
  background-color: #C6DDED;
  resize: none;
  border: #C6DDED;
  border-radius: 4px;
  padding: 5px;
}

.container {
  display: flex;
}

.words-container {
  align-items: center;
  margin: 20px;
  text-align: center;
}

.learned-words-textarea {
  background: #D9D9D9;
  border: transparent;
  border-radius: 10px;
  resize: none;
  padding: 10px;
}

.headline {
  font-size: 4rem;
  color: #3498db;
}

.caption {
  font-size: 1.5rem;
  color: #7C7C7C;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.get-started-button {
  border: 1px solid #3498db;
  color: white;
  background: #3498db;
  
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 16px;
  border-radius: 14px;
  margin-top: 4rem;
  cursor: pointer;
  transition: 0.6s;

}

.get-started-button:hover {
  color: grey;
  background: none;
}

